<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
    <h1>Add Tubes</h1>
    <p>Add cables to database.</p>

    <div>
        <form method="post" action="/tube/addTube">
            <fieldset>
                <pre><label>Select a cable: <select name="cable_names" id="cable" required>
                  		    <option value="" selected disabled>Select location</option>
                        </select></label>               </pre>
            </fieldset>

            
            <fieldset>
                <label id="tubes_info">Update Tube data: 
            	   
                </label>
            </fieldset>

            <fieldset>
                <label>What are the number of tubes in this cable?
            	   <input type="number" name="no_of_tubes" id="number_tubes" min=0 required>
                </label>
            <br><br>
            <button type="submit" id="cable_button">Save cable data</button>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript" src='javascripts/getLocations_tube.js'></script>
  </body>
</html>
