<!DOCTYPE html>
<html>
<head>
	<title>Add strand</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
	width:100%;
}
</style>
<body>
    <h1>Add Strands</h1>
    <p>Add strands to database.</p>

	<div>
		<form method="post" id="strand_form" action='/strand/addStrand'>
			<fieldset>
				<label>
					Select a cable: <select id="cable_select" required onchange="updateTubeDataOnPage(this.value)">
						<option value="" selected disabled>Select a cable</option>
					</select>
				</label>
			</fieldset>

			<div id="tubes_info"></div>
			<button type="submit" id="save_strand_info" style="display: none">Save strand information</button>
            <button type="submit" id="strand_update_button" style="display: none">Update strand information</button>
		</form>
	</div>
	<script type="text/javascript" src="/javascripts/strand.js"></script>
</body>
</html>
