<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style type="text/css">
  	#from_loc {
  		display: inline-block;
  	}
  </style>
  <body>
    <h1>Add Cables</h1>
    <p>Add cables to database.</p>

    <div id="from_loc">
    	<p>Select a from location: </p>
    	<select>
    		<option disabled>Select location</option>
    		<option>Option 1</option>
    	</select>


    	<p>Select a to location: </p>
    	<select>
    		<option disabled>Select location</option>
    		<option>Option 1</option>
    	</select>

    	<p>Select cable type: </p>
    	<select>
    		<option disabled>Select location</option>
    		<option>Option 1</option>
    	</select>

    	<p>What are the number of tubes in this cable? </p>
    	<input type="number" name="no_of_tubes">
    </div>

  </body>
</html>
