<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style type="text/css">
  	/*#from_loc {
  		 display: inline-block; 
  	}
*/  </style>
  <body>
    <h1>Add Cables</h1>
    <p>Add cables to database.</p>

    <div>
        <form method="post" action="/cable/addCable">
            <fieldset>
                <pre><label>Select a <strong>from</strong> location: <select name="from_loc" id="from_loc" required>
                  		    <option value="" selected disabled>Select location</option>
                        </select></label>               <label>Select a <strong>to</strong> location:<select name="to_loc" id="to_loc" required>
                    		<option value="" disabled selected>Select location</option>
                    	</select></label></pre>
            </fieldset>

            
            <fieldset id="types_of_cable">
                <label>How many types of fiber does this cable has: 
                    <select id="diff_type_of_fiber" onchange="updateFiberTypeNumbers()">
                        <option value="" selected disabled>Select number of fiber types:</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                    </select>
                </label>
                <br>
                <!-- This is where the fiber types is inserted-->
            </fieldset>

            <fieldset>
                <label>
                    Enclosure Number: <input type="number" min=0 name="encl_no" required placeholder="NULL">    /*/ Default is NULL /*/
                </label>
            </fieldset>

            <fieldset>
                <label>What are the number of tubes in this cable?
            	   <input type="number" name="no_of_tubes" id="number_tubes" min=0 required>
                </label>
            <br><br>
            <button type="submit" id="cable_button">Save cable data</button>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript" src='javascripts/getLocations.js'></script>
  </body>
</html>
