<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
    <h1>Add Tubes</h1>
    <p>Add cables to database.</p>

    <div>
        <form method="post" action="/tube/addTube">
            <fieldset>
                <pre><label>Select a cable: <select name="cable_names" id="cable" required onchange="updateTubeDataOnPage(this.value)">
                  		    <option value="" selected disabled>Select location</option>
                        </select></label>               </pre>
            </fieldset>

            
            <div id="tubes_info">
                <label >
            	   
                </label>
            </div>
            <button type="submit" id="cable_button">Save tube data</button>
        </form>
    </div>
    <script type="text/javascript" src='javascripts/getLocations_tube.js'></script>
  </body>
</html>
