<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/api.js'> </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <label>Set up new Cable: <a href="/cable"><button>Cables</button></a></label>
    <br><br>
    <label>Edit/Update Tube info: <a href="/tube"><button>Tubes</button></a></label>
    <br><br>
    <label>Edit/Update Strand info: <a href="/strand"><button>Strands</button></a></label>
    <br><br>
    <label>Add a new patch or update existing patch: <a href="/patch"><button>Patches</button></a></label>
    <br><br>
    <label>Search for exising patches: <a href="/search"><button>Search</button></a></label>
  </body>
</html>
