<!DOCTYPE html>
<html>
<head>
	<title>Patch Fiber</title>
</head>
<body>
	<div>
		<iframe id='from_strand' src="/strand" height="400px" width="400px"></iframe>
	</div>
	<script type="text/javascript" src='/javascripts/patch.js'></script>
</body>
</html>
