<!DOCTYPE html>
<html>
<head>
	<title>Patch Fiber</title>
</head>
<body>
	<form method="POST" action="/patch/patchFiber">
		<div>
			<iframe id='from_strand' src="/strand" height="500px" width="500px"></iframe>
		</div>
		<div id='from_strand_details'>Selected from strand is: </div>
		<div id='from_strand_details_2'>Selected from strand is: </div>
		<input type="number" name="from_strand_id" hidden>
		<input type="number" name="from_strand_id_2" hidden>
		<p id='warning_from' style="display: none; background-color: red;">You should not select a strand whose strandID is not yet set. This will halt the patch and might break. Configure strand before patching.</p>

		<p>What is the from type? <select name="from_type" required onchange="switch_or_FE(this.value, 'from')"><option value='' selected disabled required>Select</option><option value='Switch'>Switch</option><option value='FiberEnclosure'>FiberEnclosure</option></select></p>

		<div id='from_switch' style="display: none">
			<label>IP address: </label><input type="text" name="from_ip_address" maxlength="15" required>
			<label>Port Number: </label><input type="number" name="from_port_numnber" required min=0>
		</div>
		<div id='from_fiber_enclosure' style="display: none">
			<label>Enclosure Number: </label><input type="number" name="from_enclosure_number" required min=0><br>
			<label>Panel Number: </label><input type="number" name="from_panel_no" required min=0><br>
			<label>Port Number: </label><input type="number" name="from_port_number" required min=0><br>
		</div>

		<br><br>

		<div>
			<iframe id='to_strand' src="/strand" height="500px" width="500px"></iframe>
		</div>
		<div id='to_strand_details'>Selected to strand is: </div>
		<div id='to_strand_details_2'>Selected to strand is: </div>
		<input type="number" name="to_strand_id" hidden>
		<input type="number" name="to_strand_id_2" hidden>
		<p id='warning_to' style="display: none; background-color: red;">You should not select a strand whose strandID is not yet set. This will halt the patch and might break. Configure strand before patching.</p>

		<p>What is the to type? <select name="to_type" required onchange="switch_or_FE(this.value, 'to')"><option value='' selected disabled required>Select</option><option value='Switch'>Switch</option><option value='FiberEnclosure'>FiberEnclosure</option></select></p>

		<div id='to_switch' style='display: none'>
			<label>IP address: </label><input type="text" name="to_ip_address" maxlength="15">
			<label>Port Number: </label><input type="number" name="to_port_numnber" min=0>
		</div>
		<div id='to_fiber_enclosure' style='display: none'>
			<label>Enclosure Number: </label><input type="number" name="to_enclosure_number" required min=0><br>
			<label>Panel Number: </label><input type="number" name="to_panel_no" required min=0><br>
			<label>Port Number: </label><input type="number" name="to_port_number" required min=0><br>
		</div>

		<br> <br>

		<p>Does it have a patch cable? <select name="patch_cable" required><option value='' selected disabled>Select</option><option value='Y'>Yes</option><option value='N'>No</option></select></p>

		<button type="submit">Submit</button>
	</form>
	<script type="text/javascript" src='/javascripts/patch.js'></script>
</body>
</html>
