<!DOCTYPE html>
<html>
<head>
	<title>Search Patches</title>
</head>
<body>
	<h2>Search for existing patches</h2>
	<br><br>
	<form method="POST" action="/patch/searchParams">
		<select name='search_type'>
			<option value="cable">Cable</option>
			<option value="switch_ip">Switch</option>
			<option value="strand_id">Strand</option>
		</select>
		<br><br>
		<button type="submit">Submit</button>
	</form>
	<script type="text/javascript" src='/javascripts/patchSearch.js'></script>
</body>
</html>
